<!doctype html>
<html>
<head>
	<title>fantasyproject.me</title>
  	<link rel="stylesheet" type="text/css" href="/style.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    {{#each jsscripts}}
    <script src="/static/{{this}}"></script>
    {{/each}}
</head>
{{#if homepage}}
{{else}}
	<div id="regularDiv">
		<img id="smallImg" src="/smallheader.png">
		<br>
		<a class="menuLinks" href="/leagues">My Leagues</a>
		<a class="menuLinks" href="/fantasy-teams">My Teams</a>
		<a class="menuLinks" href="/matchup">Matchup</a>
	</div>
{{/if}}
<body>
	<div hidden="hidden" id="loginDiv"></div>
	<input hidden="hidden" value="{{homepage}}" id="homepage">	
	<div hidden="hidden" style="margin-left:220px" id="bodyDiv">	{{{body}}} </div>	
</body>


<script src="/login.js"></script>
</html>



