<!doctype html>
<html>
<head>
	<title>Fantasy Basketball Weekly Projections</title>
  	<link rel="stylesheet" type="text/css" href="/style.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    {{#each jsscripts}}
    <script src="/static/{{this}}"></script>
    {{/each}}
</head>
<body>
  <div id="header">
      <img src="/header.png" width="100%" height="5%"/>
  </div>
  <table class="myTable">
      <thead>
        <th style="text-align:center"><a href="/leagues" style="color:#FFFFFF">Leagues</a></th>
        <th style="text-align:center"><a href="/fantasy-teams" style="color:#FFFFFF">Teams</a></th>
        <th style="text-align:center"><a href="/players" style="color:#FFFFFF">Players</a></th>
        <th style="text-align:center"><a href="/matchup" style="color:#FFFFFF">Matchup</a></th>
      </thead>
  </table>

	{{{body}}}
</body>
</html>
