<h4>Reset your password</h4>
<p style="font-size:13px">Enter your account's email address to receive a temporary password.</p><br>
<form class="form3" id="resetPassword">
	<label>Email address: <input name="email" type="text" id="emailText">
	<input type="submit" id="resetPasswordSubmit">
	<span id='message'></span>
</form>

<br><br><span id="contact">If you did not link an email to your account, please contact admin@fantasybasketball.me</span><br><br>