<!doctype html>
<html>
	<body>
		<form class="form1" id="registerForm">
			<label>User name:</label> <input name="username" type="text" id="userText"><br>
			<label>Password:</label> <input name="password" type="password" id="passwordText" value=""><br>	
			<label>Verify password:</label> <input name="verifyPassword" type="password" id="verifyPassword" value=""><br>
			<label>Email (optional): </label><input name="email" type="text" id="emailText"><br>
			<span id="loginSpan"><a href="/">Login</a></span>
			<input type="submit" id="registerSubmit">
		</form>
		<span class="myMessage" id='message'></span>

	</body>
</html>